<div class="container">
    <h1>Projects</h1>

    <section *ngFor="let project of projects">
        <div style="display: flex;">
            <h2>{{project.title}}</h2>
            <span style="display: flex; align-items: center; margin-left: 5px;"><a href="{{project.link}}" target="_blank"><i class='bx bxl-github'></i></a></span>
        </div>
        <h3>
            <span>Technologies: </span>
            <span>{{project.technologies}}</span>
        </h3>

        <ul *ngFor="let desc of project.description">
            <li>{{desc}}</li>
        </ul>
    </section>
</div>