<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <a href="mailto:chelluboinajyothiswarup@gmail.com"><li><i class="bx bxl-gmail"></i></li></a>
        <a href="https://www.linkedin.com/in/chelluboina-jyothi-swarup/" target="_blank"><li><i class='bx bxl-linkedin'></i></li></a>
        <a href="https://www.instagram.com/_jyothi_swarup_chelluboina_/" target="_blank"><li><i class="bx bxl-instagram"></i></li></a>
        <a href="https://github.com/chelluboinajyothiswarup" target="_blank"><li><i class='bx bxl-github' ></i></li></a>
    </ul>

    <ul class="contact-info">
        <li>chelluboinajyothiswarup@gmail.com</li>
        <li>Mobile: 9347579047</li>
    </ul>
</div>
<a name="contact"></a>
